<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NdefLibrary" version="4.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="PCSC" version="5.1.0" />
  <package id="PCSC.Iso7816" version="5.1.0" />
  <package id="PcscNfc" version="0.0.2-alpha" />
</packages>